<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team %></td>
      <td><%= team.points %></td>
    </tr>
    <% end %>
  </tbody>
</table>