<div data-ng-app="foos.gameon" data-ng-controller="GameOnController" data-ng-switch="wizard" class="container">
  <div class="wizard_screens">
    <div class="wizard_screen my-switch-animation" data-ng-view></div>
  </div>
</div>