<div data-ng-app="foos.gameon" data-ng-controller="GameOnController" data-ng-switch="wizard">

  <a href="" class="btn btn-primary" data-ng-click="previous()">Previous</a>
  <a href="" class="btn btn-primary" data-ng-click="next()">Next</a>

  <div class="wizard_screen slide" data-ng-switch-when="1">
    <h1>Screen 1</h1>
  </div>
  <div class="wizard_screen slide" data-ng-switch-when="2">
    <h1>Screen 2</h1>
  </div>
  <div class="wizard_screen slide" data-ng-switch-when="3">
    <h1>Screen 3</h1>
  </div>
  <div class="wizard_screen slide" data-ng-switch-when="4">
    <h1>Screen 4</h1>
  </div>
</div>