<div data-ng-controller="DashboardController" data-ng-init="my_dashboard()">

<div class="row">
  <div class="col-sm-12">
    <h2>Standings</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Points</th>
          <th>Win %</th>
          <th>Ladder Rank</th>
          <th>Streak</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="team in teams" data-ng-class="{'active': team.id == current_team_id}">
          <td>{{$index + 1}}
          <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
          <td>{{team.points}}</td>
          <td>{{winPercentage(team) | number: 0}}</td>
          <td>{{team.ladder_rank}}</td>
          <td>
            <span data-ng-if="team.stats.current_streak < 0">L{{-1 * team.stats.current_streak}}</span>
            <span data-ng-if="team.stats.current_streak > 0">W{{team.stats.current_streak}}</span>
          </td>
        </tr>
      </tbody>
      <tbody data-ng-if="teamInvisibleInStandings">
        <tr data-ng-if="teamInvisibleInStandings > limit + 1">
          <td>...</td>
        </tr>
        <tr data-ng-class="{'active': team.id == current_team_id}">
          <td>{{teamInvisibleInStandings}}</td>
          <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
          <td>{{team.points}}</td>
          <td>{{winPercentage(team) | number: 0}}</td>
          <td>{{team.ladder_rank}}</td>
          <td>
            <span data-ng-if="team.stats.current_streak < 0">L{{-1 * team.stats.current_streak}}</span>
            <span data-ng-if="team.stats.current_streak > 0">W{{team.stats.current_streak}}</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <a href="#/rankings">Show all rankings</a>
          </td>
          <td colspan="2">
            <a href="#/ladder">View ladder</a>
          </td>
        </tr>
      </tfoot>
    </table>    
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <p data-ng-if="team_recent_games.length == 0">You have not played a game yet. <a href="/#/games/new">Record a game</a>.</p>

    <div data-ng-if="team_recent_games.length > 0">

      <h2>My Recent Games</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="game in team_recent_games">
            <td><a href="#/teams/{{game.team1.id}}">{{game.team1.name}}</a></td>
            <td><a href="#/teams/{{game.team2.id}}">{{game.team2.name}}</a></td>
            <td>{{game.team1score}} - {{game.team2score}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="#/teams/{{current_team_id}}/games">Show all of my games</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="col-sm-12">

    <p data-ng-if="recent_games.length == 0">No games have been played yet. <a href="/#/games/new">Record a game</a>.</p>

    <div data-ng-if="recent_games.length > 0">

      <h2>All Recent Games</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="game in recent_games" data-ng-class="{'active': game.team1.id == current_team_id || game.team2.id == current_team_id}">
            <td><a href="#/teams/{{game.team1.id}}">{{game.team1.name}}</a></td>
            <td><a href="#/teams/{{game.team2.id}}">{{game.team2.name}}</a></td>
            <td>{{game.team1score}} - {{game.team2score}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="#/games">Show all games</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>  