<div data-ng-controller="DashboardController" data-ng-init="my_dashboard()">

<div class="row">
  <div class="col-sm-12">
    <h2>Standings</h2>
    <div data-ng-include data-src="'templates/teams/standings.html'"></div>   
  </div>
</div>

<div class="row">
  <div class="col-sm-12" data-ng-if="my_team">

    <p data-ng-if="team_recent_games.length == 0">You have not played a game yet. <a href="/#/games/new">Record a game</a>.</p>

    <div data-ng-if="team_recent_games.length > 0">

      <h2>My Recent Games</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="game in team_recent_games">
            <td><a href="#/teams/{{game.team1.id}}">{{game.team1.name}}</a></td>
            <td><a href="#/teams/{{game.team2.id}}">{{game.team2.name}}</a></td>
            <td>{{game.team1score}} - {{game.team2score}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="#/teams/{{my_team.id}}/games">Show all of my games</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="col-sm-12">
    <div data-ng-include="'templates/recent_games.html'"></div>
    
  </div>
</div>  