<div data-ng-controller="DashboardController" data-ng-init="my_dashboard()">

<h1>Dashboard</h1>

<div class="row">
  <div class="col-sm-7">
    <h2>Rankings</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Points</th>
          <th>Wins</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="team in rankings | orderBy: 'points':true | limitTo:5" data-ng-class="{'active': team.id == current_team_id}">
          <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
          <td>{{team.points}}</td>
          <td>{{team.wins}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <a href="#/rankings">Show all rankings</a>
          </td>
        </tr>
      </tfoot>
    </table>    
  </div>

  <div class="col-sm-5">
    <h2>Ladder</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="team in ladder | orderBy: 'ladder_rank' | limitTo:5" data-ng-class="{'active': team.id == current_team_id}">
          <td>{{$index + 1}}</td>
          <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <a href="#/ladder">Show entire ladder</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <p data-ng-if="team_recent_games.length == 0">You have not played a game yet. <a href="/#/games/new">Record a game</a>.</p>

    <div data-ng-if="team_recent_games.length > 0">

      <h2>My Recent Games</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="game in team_recent_games">
            <td><a href="#/teams/{{game.team1.id}}">{{game.team1.name}}</a></td>
            <td><a href="#/teams/{{game.team2.id}}">{{game.team2.name}}</a></td>
            <td>{{game.team1score}} - {{game.team2score}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="#/teams/{{current_team_id}}/games">Show all of my games</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="col-sm-12">

    <p data-ng-if="recent_games.length == 0">No games have been played yet. <a href="/#/games/new">Record a game</a>.</p>

    <div data-ng-if="recent_games.length > 0">

      <h2>All Recent Games</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Winner</th>
            <th>Loser</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="game in recent_games" data-ng-class="{'active': game.team1.id == current_team_id || game.team2.id == current_team_id}">
            <td><a href="#/teams/{{game.team1.id}}">{{game.team1.name}}</a></td>
            <td><a href="#/teams/{{game.team2.id}}">{{game.team2.name}}</a></td>
            <td>{{game.team1score}} - {{game.team2score}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="#/games">Show all games</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>  