<div data-ng-controller="RecentDoublesGamesController">
  <p data-ng-if="recent_games.length == 0">No games have been played yet. <a href="/#/games/new">Record a game</a>.</p>

  <div data-ng-if="recent_games.length > 0">

    <table class="table">
      <thead>
        <tr>
          <th>Winner</th>
          <th>Loser</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="game in recent_games" data-ng-class="{'success': my_team.id == game.team1.id, 'danger': my_team.id == game.team2.id}">
          <td>{{game.team1.team1.name}} and {{game.team1.team2.name}}</td>
          <td>{{game.team2.team1.name}} and {{game.team2.team2.name}} </td>
          <td>10 - {{game.team2score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>