<div data-ng-controller="TeamsController" data-ng-init="games()">

  <h1>{{team.name}}</h1>
  <h2>Games</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Result</th>
        <th>Points</th>
        <th>Date Played</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="game in games" data-ng-class="{'success':$parent.isWinner(game), 'danger': !$parent.isWinner(game)}">

        <td>
          <div data-ng-if="$parent.isCurrentTeam(game.team1.id)">
            <a href="#/teams/{{game.team2.id}}">{{game.team2.name}}</a>
          </div>
          <div data-ng-if="$parent.isCurrentTeam(game.team2.id)">
            <a href="#/teams/{{game.team1.id}}">{{game.team1.name}}</a>
          </div>
        </td>

        <td>
          <span data-ng-switch data-on="$parent.isWinner(game)">
            <span data-ng-switch-when="true">won</span>
            <span data-ng-switch-when="false">lost</span>
          </span>
          {{game.team1score}} - {{game.team2score}}
        </td>
        <td>{{game.points_change}}</td>
        <td>{{game.created_at | date: 'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>