<div data-ng-controller="TeamsController" data-ng-init="index({ order: '+ladder_rank' })">

  <div class="alert alert-info">
    <p>A team can move up the ladder by defeating teams higher up on the ladder</p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="team in teams" data-ng-class="{'active': team.id == my_team.id}">
        <td>{{$index + 1}}</td>
        <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>