<div data-ng-controller="TeamIndexController">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Points</th>
        <th>Win %</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="team in teams" data-ng-class="{'active': Auth.is_my_team(team.id)}">
        <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
        <td>{{team.points}}</td>
        <td>{{Utils.winPercentage(team) | number: 0}}</td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-info">
    <p>Points are earned by winning games.</p>
    <p>More points are earned by defeating a team with 600 points instead of a team with 400 points.</p>
    <p>More points are earned by defeating a team 10-0 rather than 10-9.</p>
  </div>

</div>