<div data-ng-controller="TeamsController" data-ng-init="index()">

  <div class="alert alert-info">
    <p>Points are earned by winning games.</p>
    <p>More points are earned by defeating a team with 600 points instead of a team with 400 points.</p>
    <p>More points are earned by defeating a team 10-0 rather than 10-9.</p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Points</th>
        <th>Win %</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="team in teams | orderBy: 'points':true" data-ng-class="{'active': team.current_user}">
        <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
        <td>{{team.points}}</td>
        <td>{{winPercentage(team) | number: 0}}</td>
      </tr>
    </tbody>
  </table>
</div>