<div data-ng-controller="TeamShowController">
  <div class="row">

    <div class="col-sm-12">
      <div data-ng-if="team && my_team && team.id != my_team.id" data-ng-include data-src="'templates/teams/challenges.html'"></div>
    </div>

    <div class="col-sm-12">
      <h1>{{team.name}}</h1>
      <p>{{team.stats.wins}} - {{team.stats.losses}}</p>
    </div>

    <div class="col-sm-6">
      <h2>Ladder Rank</h2>
      <p>{{team.ladder_rank}}</p>
    </div>

    <div class="col-sm-6">
      <h2>Points</h2>
      <p>{{team.points}}</p>
    </div>

    <div class="col-sm-12">
      <h2>Recent Games</h2>
      <div data-ng-if="team" data-ng-include data-src="'templates/teams/recent_games.html'"></div>

      <p data-ng-if="team.stats.current_streak >= 1">Currently on a {{team.stats.current_streak}} game win streak</p>
      <p data-ng-if="team.stats.current_streak <= -1">Currently on a {{Math.abs(team.stats.current_streak)}} game losing streak</p>
    </div>

    <div class="col-sm-12">
      <div data-ng-if="team && my_team && team.id != my_team.id">
        <h2>My Games vs {{team.name}}</h2>
        <div data-ng-include data-src="'templates/teams/vs_stats.html'"></div>
        <div data-ng-include data-src="'templates/teams/vs_recent_games.html'"></div>
      </div>
    </div>
  </div>
</div>