<div data-ng-controller="TeamsController" data-ng-init="findOne()">
  <h1>{{team.name}}</h1>

  <div class="row">
    <div class="col-sm-6">
      <h2>Ladder Rank</h2>
      <p>{{team.ladder_rank}}</p>
    </div>

    <div class="col-sm-6">
      <h2>Points</h2>
      <p>{{team.points}}</p>
    </div>
  </div>

  <h2>Recent Games</h2>
  <a href="#/teams/{{team.id}}/games">see all games</a>

  <table class="table">
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Result</th>
        <th>Points</th>
        <th>Date Played</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="game in recent_games" data-ng-class="{'success':$parent.isWinner(game), 'danger': !$parent.isWinner(game)}">

        <td>
          <div data-ng-if="$parent.isCurrentTeam(game.team1.id)">
            {{game.team2.name}}
          </div>
          <div data-ng-if="$parent.isCurrentTeam(game.team2.id)">
            {{game.team1.name}}
        </td>

        <td>
          <span data-ng-switch data-on="$parent.isWinner(game)">
            <span data-ng-switch-when="true">won</span>
            <span data-ng-switch-when="false">lost</span>
          </span>
          {{game.team1score}} - {{game.team2score}}
        </td>
        <td>{{game.points_change}}</td>
        <td>{{game.created_at | date: 'medium'}}</td>
      </tr>
    </tbody>
  </table>

  <div data-ng-if="team.stats.current_streak > 1">
    <p>Currently on a {{team.stats.current_streak}} game win streak</p>
  </div>

  <div data-ng-if="team.stats.current_streak < -1">
    <p>Currently on a {{Math.abs(team.stats.current_streak)}} game losing streak</p>
  </div>

  <p>
    <span data-ng-pluralize data-count="team.stats.longest_win_streak" data-when="{'0': 'Has not won a game', 'one': 'Longest winning streak: 1 game', 'other': 'Longest win streak: {} games'}"></span>,
    <span data-ng-pluralize data-count="team.stats.longest_loss_streak" data-when="{'0': 'Has not lost a game', 'one': 'Longest losing streak: 1 game', 'other': 'Longest losing streak: {} games'}"></span>
</div>