<div data-ng-controller="StandingsController">
  <h3>Singles</h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Points</th>
        <th>Win %</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="team in teams | limitTo: limit" data-ng-class="{'active': team.id == my_team.id}">
        <td>{{$index + 1}}
        <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
        <td>{{team.points}}</td>
        <td>{{winPercentage(team) | number: 0}}</td>
      </tr>
    </tbody>
    <tbody data-ng-if="teamInvisibleInStandings">
      <tr data-ng-if="teamInvisibleInStandings > limit + 1">
        <td>...</td>
      </tr>
      <tr data-ng-class="{'active': team.id == my_team.id}">
        <td>{{teamInvisibleInStandings}}</td>
        <td><a href="#/teams/{{team.id}}">{{team.name}}</a></td>
        <td>{{team.points}}</td>
        <td>{{winPercentage(team) | number: 0}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <a href="#/standings">Show all standings</a>
        </td>
      </tr>
    </tfoot>
  </table> 

  <h3>Doubles</h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="team in doubles_teams" data-ng-class="{'active': team.id == my_team.id}">
        <td>{{$index + 1}}
        <td>{{team.team1.name}} and {{team.team2.name}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
      </tr>
    </tbody>
  </table> 
</div>