<form role="form" data-ng-submit="save()">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="team1">Winner</label>
        <select class="form-control" id="team1" data-ng-model="game.team1_id" data-ng-options="t.id as t.name for t in teams | orderBy: 'name'"></select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="team1score">Score</label>
        <input class="form-control" type="text" id="team1score" data-ng-model="game.team1score" readonly />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="team2">Loser</label>
        <select class="form-control" id="team2" data-ng-model="game.team2_id" data-ng-options="t.id as t.name for t in teams | orderBy: 'name'"></select> 
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="team2score">Score</label>
        <input class="form-control" type="text" id="team2score" data-ng-model="game.team2score" />
      </div>
    </div>
  </div>

  <input type="submit" class="btn btn-default" value="Save" />
</form>